*{
    margin: 0;
    padding: 0;
    font-family:arial ;
}
.taskMove{
    
    display: flex;
    justify-content: center;
    

}
.zag{
    margin-left: 210px;
   
}

h1{
    margin-bottom: 20px;
}
.move{
    background-color: rgb(55, 187, 2);
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: none;
   color: white;
   margin: 10px;
   border-radius: 5px;
}
input{
    width: 300px;
    height: 30px;
   
    border: 1px solid grey;
  
   margin: 10px;
   border-radius: 5px;
}
.holder{
    margin-left: 210px;
    width: 940px;
}
